<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401061764414-6sfgcrv6ois1g11ms2lmufjqq5uekqjo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401061764414-6sfgcrv6ois1g11ms2lmufjqq5uekqjo</string>
	<key>API_KEY</key>
	<string>AIzaSyAmYMqqWVVOZapeWfdCXwVSv_CJ2k0-52w</string>
	<key>GCM_SENDER_ID</key>
	<string>401061764414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chitchat</string>
	<key>PROJECT_ID</key>
	<string>chitchat-b28f2</string>
	<key>STORAGE_BUCKET</key>
	<string>chitchat-b28f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401061764414:ios:3bd72d8a64cec24422206f</string>
</dict>
</plist>